{% spaceless %}
{% for box in item.boxes %}
<div>
  {% for column in box.columns %}
    {% for post in column.posts %}
    <article>
      {% if post.kind == 'tweet' %}
        <h2>{{ post.author.name }}</h2>
        <p>{{ post.content | safe }}</p>

      {% elif post.kind == 'comment' %}
        <h2>{% if post.title %}{{ post.title }}{% else %}{{ post.author.name }}{% endif %}</h2>
        {{ post.content | safe }}

      {% else %}
        {% if post.title %}
          <h2><a href="https://kairly.com/{{ post.author.username }}/{{ post.slug }}/">{{ post.title }}</a></h2>
        {% endif %}
        {% if post.kind == 'link' %}
          <p>{{ post.perex | safe }}</p>
        {% else %}
          {{ post.perex | safe }}
        {% endif %}
      {% endif %}
    </article>
    {% endfor %}
  {% endfor %}
</div>
<hr />
{% endfor %}
<p>
  <strong>
    <a href="https://kairly.com/{{ item.newspaper.full_name }}/{{ item.issue.number }}/">Read issue</a>
  </strong>
</p>
{% endspaceless %}
