{% for box in item.boxes %}
<div>
  {% for column in box.columns %}
    {% for post in column.posts %}
    <article>
      {% if post.kind == 'tweet' %}
        <h2>{{ post.author.name }}</h2>
        {{ post.content }}
      {% else %}
        {% if post.title %}
          <h2>
            <a href="https://kairly.com/{{ post.author }}/{{ post.slug }}/">
              {{ post.title }}
            </a>
          </h2>
        {% endif %}
        {{ post.perex }}
      {% endif %}
    </article>
    {% endfor %}
  {% endfor %}
</div>
<hr />
{% endfor %}
<p>
  <strong>
    <a href="https://kairly.com/{{ item.newspaper.full_name }}/{{ item.issue.number }}/">Read issue</a>
  </strong>
</p>
