//- VARIABLES -//

//- Typography

$baseline: 26rem

$fs--2: 14rem
$fs--1: 16rem
$fs-0:  18rem // base font
$fs-1:  21rem
$fs-2:  24rem
$fs-3:  30rem
$fs-4:  42rem

$ff-serif: Cambria, 'PT Serif', serif
$ff-sans: 'Roboto', sans-serif


//- Colors

$c-green: #57ad68
$c-red:   #94271E
$c-base: $c-green

$c-text: #333
$c-text-fade: #bbb


//- Sizes
$mobile: 640px

//- Library variables
$fa-font-path: '../node_modules/font-awesome/fonts'
