//- Article Perex -//

=article-perex
  font-size: $fs-0

  //-- heading
  h1, h2, h3, h4, h5, h6
    margin: $baseline / 4 0
    font-weight: 600

    break-after: avoid-column

  //-- paragraph
  p
    text-indent: $baseline

    @media (max-width: $mobile)
      text-indent: $baseline / 2

  //-- illustration image
  img
    display: block
    margin: $baseline / 4 auto
    height: auto
    max-height: 200px
    max-width: 100%

  //- Video
  video
    height: auto
    max-width: 100%

  //-- link
  a[href]
    color: #000

    text-decoration: underline

  //-- strong
  strong, b
    font-weight: 600

  //-- italic
  em, i
    font-style: italic

  //-- bullet points
  ul li
    margin-left: $baseline
    list-style: disc outside

  //-- ordered list
  ol li
    margin-left: $baseline
    list-style: decimal outside

  //-- horizontal line
  hr
    border: 0
    height: 1px
    background: #ddd

  //-- quotes
  blockquote
    margin: ($baseline / 4 - 2px) 0
    padding: $baseline / 4 0

    border-bottom: 1px solid #eee
    border-top: 1px solid #eee
    color: #777

    text-align: center

    p
      text-indent: 0

      &::before
        content: "„"

      &::after
        content: "“"

  //-- cite
  cite
    display: block
    margin: ($baseline / 4 - 2px) 0
    padding: $baseline / 4 0

    border-bottom: 1px solid #eee
    border-top: 1px solid #eee
    color: #777

    font-size: $fs-1
    text-indent: 0

    &::before
      content: "„"

    &::after
      content: "“"

  //-- code inline
  code
    background: #fafafa
    font-family: "courier new", courier, monospace
    font-size: $fs--1

  //-- code block
  pre
    overflow: auto

    background: #fafafa
    border: 1px solid #eee

    font-family: "courier new", courier, monospace
    font-size: $fs--2


  //-- pictures
  figure
    display: table

    break-inside: avoid
    text-align: center

    figcaption, p
      color: #999

      font-family: $ff-sans
      font-size: $fs--1
      line-height: 1.42

  //-- table
  table
    margin-bottom: $baseline

    font-family: $ff-sans

    td, th
      padding: 0 $baseline/4

    thead td,
    thead th
      background: #eee

      font-size: $fs--1