//- Article Content -//

=article-content
  font-size: $fs-1
  word-break: break-word

  //- Headings
  h2, h3, h4, h5, h6
    margin-bottom: $baseline / 2

    font-size: $fs-2
    font-weight: 600

    @media (max-width: $mobile)
      font-size: $fs-1

  //- Paragraph
  p
    margin-bottom: $baseline

  //- Strong
  strong, b
    font-weight: 600

  //- Italic
  em, i
    font-style: italic

  //- Lists
  ul, ol
    margin: 0 0 $baseline $baseline

  //-- bullet points
  ul li
    margin-left: $baseline
    list-style: disc outside

  //-- ordered list
  ol li
    margin-left: $baseline
    list-style: decimal outside

  //- Image
  img
    display: block
    height: auto
    max-width: 100%
    margin: $baseline / 4 auto

  //- Video
  video
    height: auto
    max-width: 100%

  //- Link
  a[href]
    color: inherit

    text-decoration: underline

  //-- code inline
  code
    background: #fafafa
    font-family: "courier new", courier, monospace
    font-size: $fs--1

  //-- code block
  pre
    overflow: auto

    background: #fafafa
    border: 1px solid #eee

    font-family: "courier new", courier, monospace
    font-size: $fs--2


  //-- pictures
  figure
    margin-bottom: $baseline

    text-align: center

    figcaption, p
      margin-bottom: 0

      color: #999

      font-family: $ff-sans
      font-size: $fs--1
      line-height: 1.42

  //-- table
  table
    margin-bottom: $baseline

    font-family: $ff-sans

    td, th
      padding: 0 $baseline/4

    thead td,
    thead th
      background: #eee

      font-size: $fs--1

  //-- quotes
  blockquote,
  cite
    display: block
    margin: $baseline 0
    padding-left: $baseline / 2

    border-left: 2px solid #555
    color: #555

    p + p
      margin-top: $baseline
