//- BUTTON -//

//- Button Mixin
=button($type: primary, $size: medium)
  box-sizing: border-box
  display: inline-block
  border: 0

  cursor: pointer
  font-family: $ff-sans

  //- primary button
  @if $type == primary
    background: $c-base
    color: #fff

    &:hover,
    &:focus
      background: darken($c-base, 10%)

  //- secondary button
  @else if $type == secondary
    background: #fff
    border: 1px solid $c-base
    color: #000

    &:hover,
    &:focus
      background: $c-base
      color: #fff


  //- large button
  @if $size == large
    border-radius: $baseline * 0.75
    height: $baseline * 1.5
    padding: 0 $baseline*1.5

    font-size: $fs-1
    line-height: $baseline * 1.5

  //- medium button
  @else if $size == medium
    border-radius: $baseline * 1.25/2
    height: $baseline * 1.25
    padding: 0 $baseline

    font-size: $fs-0
    line-height: $baseline * 1.25

  //- small medium
  @else if $size == small
    border-radius: $baseline / 2
    height: $baseline
    padding: 0 $baseline/2

    font-size: $fs--1
    line-height: $baseline

  //- disabled state
  &:disabled
    opacity: 0.7

    cursor: default

    &:hover,
    &:focus
      background: $c-base


//- Button icon mixin
=button-icon($icon, $type: icon, $collection: solid, $size: medium)
  display: inline-flex
  border-radius: $baseline * 1.25/2
  padding: 0 $baseline 0 $baseline/4

  background: #eee
  border: 0
  color: #000

  text-align: center

  cursor: pointer
  transition: 0.15s background

  @media (max-width: $mobile)
    padding: 0

  &:hover,
  &:focus
    background: #ddd

  &::before
    +fa-icon()

    //- solid collection
    @if $collection == solid
      @extend .fas

    //- brand collection
    @else if $collection == brand
      @extend .fab

    content: fa-content($icon)

  &::after
    @if $type == icon-text
      content: attr(aria-label)

    @media (max-width: $mobile)
      display: none
  
  //- large button
  @if $size == large
    height: $baseline * 1.5

    font-size: $fs-1
    line-height: $baseline * 1.5

    &::before,
    &::after
      height: $baseline * 1.5
      width: $baseline * 1.5

      line-height: $baseline * 1.5

  //- medium button
  @else if $size == medium
    height: $baseline * 1.25

    font-size: $fs-0
    line-height: $baseline * 1.25

    &::before,
    &::after
      height: $baseline * 1.25
      width: $baseline * 1.25

      line-height: $baseline * 1.25

  //- small medium
  @else if $size == small
    height: $baseline

    font-size: $fs--1
    line-height: $baseline 

    &::before,
    &::after
      height: $baseline
      width: $baseline

      line-height: $baseline 

  //- only icon
  @if $type == icon
    padding: 0

  //- icon with text
  @else if $type == icon-text
    width: auto

    &::after
      width: auto

//- Buttons with Icons
button-icon
  cursor: pointer

  &::before
    +fa-icon()
    @extend .fas

  &.recommend::before
    content: fa-content($fa-var-star)

  &.share::before
    content: fa-content($fa-var-retweet)

  &.consider-for-edition::before
    content: fa-content($fa-var-newspaper)

  &.remove::before,
  &.close::before
    content: fa-content($fa-var-times)

  &.edit::before
    content: fa-content($fa-var-pencil-alt)

  &.menu::before
    content: fa-content($fa-var-ellipsis-v)

  &.normal-view::before
    content: fa-content($fa-var-align-justify)

  &.column-view::before
    content: fa-content($fa-var-align-justify)

    transform: rotate(90deg)


//- Text Button
=button-text
  padding: 0

  background: transparent
  border: 0
  color: $c-base

  font-size: $fs-0
  font-weight: 600

  cursor: pointer
  transition: .15s all

  &:hover
    color: darken($c-base, 10%)

    &::after
      transform: translateX($baseline/4)

  &::after
    +fa-icon()
    @extend .fas

    margin-left: $baseline / 2

    opacity: 0.5
    transition: .15s all

    content: fa-content($fa-var-arrow-right)
