//- BUTTON -//

//- Subscribe Button
=subscribed-button
  display: inline-block
  border-radius: 5px
  height: $baseline
  padding: 0 $baseline/4

  background: $c-base
  border: 1px solid $c-base
  color: #fff

  cursor: pointer
  font-family: $ff-sans
  font-size: $fs--1
  line-height: $baseline

  &:hover,
  &:focus
    background: darken($c-base, 10%)
    color: #fff

  &.is-subscribed
    background: $c-base
    color: #fff

    &:hover,
    &:focus
      background: $c-red

  &.is-canceled
    background: lighten($c-base, 10%)
    background: repeating-linear-gradient(135deg, lighten($c-base, 5%) 0px, lighten($c-base, 5%) 2px, lighten($c-base, 15%) 2px, lighten($c-base, 15%) 5px)
    text-shadow: 0px 0px 10px $c-base

    &:hover,
    &:focus
      background: $c-base


//- To Subscribe Button
=subscribe-button
  display: inline-block
  border-radius: 5px
  height: $baseline
  padding: 0 $baseline/2

  background: #fff
  border: 1px solid $c-base
  color: #000

  cursor: pointer
  font-family: $ff-sans
  font-size: $fs--1
  line-height: $baseline

  &:hover,
  &:focus
    background: $c-base
    color: #fff

  &.is-subscribed
    background: $c-base
    color: #fff

    &:hover,
    &:focus
      background: $c-red



//- Buttons with Icons
button-icon
  cursor: pointer

  &::before
    +fa-icon()
    @extend .fas

  &.recommend::before
    content: fa-content($fa-var-star)

  &.share::before
    content: fa-content($fa-var-retweet)

  &.consider-for-edition::before
    content: fa-content($fa-var-newspaper)

  &.remove::before,
  &.close::before
    content: fa-content($fa-var-times)

  &.edit::before
    content: fa-content($fa-var-pencil-alt)

  &.up::before
    content: fa-content($fa-var-arrow-up)

  &.down::before
    content: fa-content($fa-var-arrow-down)

  &.menu::before
    content: fa-content($fa-var-ellipsis-v)

  &.normal-view::before
    content: fa-content($fa-var-align-justify)

  &.column-view::before
    content: fa-content($fa-var-align-justify)

    transform: rotate(90deg)
