//- LOADING SPINNER -//

loading-spinner
  display: block
  height: $baseline * 2
  padding: $baseline 0
  margin-bottom: $baseline * 15

  background: url('~assets/loading.svg') center center no-repeat
