//- VARIABLES -//

//- Typography

$baseline: 26px

$fs--2: 12px
$fs--1: 14px
$fs-0:  16px // base font
$fs-1:  18px
$fs-2:  21px
$fs-3:  24px
$fs-4:  30px

$ff-serif: 'Merriweather', Cambria, serif
$ff-sans: 'Roboto', sans-serif


//- Colors

$c-green: #57ad68
$c-red:   #94271E
$c-base: $c-green

$c-text: #333
$c-text-fade: #bbb


//- Sizes
$mobile: 640px

//- Library variables
$fa-font-path: '../node_modules/font-awesome/fonts'
