//- READ LATER -//

edition-detail-view
  display: block
  margin: 0 auto
  width: 900px
  
  > div
    display: grid
    grid-template-areas: "edition-detail-header edition-detail-header" "edition-detail-description edition-detail-picture" "edition-detail-subscribe edition-detail-subscribe"
    grid-template-columns: 50% 50%
    grid-template-rows: auto
    padding: $baseline $baseline 0 $baseline

    background: #fff

    @media (max-width: $mobile)
      grid-template-areas: "edition-detail-header" "edition-detail-picture" "edition-detail-description" "edition-detail-subscribe"


//- Header
edition-detail--header
  grid-area: edition-detail-header
  margin-bottom: $baseline

  font-family: $ff-serif

  h1
    font-size: $fs-4
    line-height: $baseline * 2
    text-align: center


//- Editorial Intro
edition-detail--description
  grid-area: edition-detail-description

  font-family: $ff-serif

  p
    margin-bottom: $baseline

  > div
    display: flex  

  > div > div
    margin-right: $baseline

    &:last-of-type
      margin-right: 0  

  h3
    font-size: $fs--1
    text-transform: uppercase

  h3 + p
    margin-bottom: $baseline / 2

    font-weight: 600  


//- Subscribe
edition-detail--subscribe
  grid-area: edition-detail-subscribe    
  justify-self: center
  margin-top: $baseline

  button
    +subscribe-button

    border-radius: $baseline * 0.75
    height: $baseline * 1.5

    font-size: $fs-1

  button + p
    color: #777

    font-size: $fs--2  
    text-align: center


//- Edition Picture
edition-detail--picture
  grid-area: edition-detail-picture       

  img
    max-width: 100%


//- Last Edition
edition-detail--last-edition    
  display: block
  margin-top: $baseline

  > h2
    position: relative

    margin-bottom: $baseline

    font-family: $ff-serif
    text-align: center
    text-transform: uppercase

    span 
      position: relative
      z-index: 1

      padding: 0 $baseline/2

      background: #fafafa

    &::before
      position: absolute
      left: 0
      top: $baseline / 2

      height: 1px
      width: 100%

      background: #eee

      content: ''
