//- READ LATER -//

edition-detail-view
  display: grid
  grid-area: "edition-detail-header edition-detail-header" "edition-detail-description edition-detail"


  padding: $baseline
  margin: 0 auto
  width: 900px

  background: #fff