//- MY EDITIONS -//


my-editions-view
  display: block
  max-width: 1000px
  margin: $baseline auto

  @media (max-width: $mobile)
    padding: 0 $baseline

  //- wrapper
  > div
    display: flex
    flex-wrap: wrap

  //- heading
  h1
    margin-bottom: $baseline

    font-family: $ff-serif
    font-size: $fs-2  


my-editions--item
  position: relative

  display: flex
  flex-direction: column
  padding: 0 $baseline / 4
  border-radius: $baseline / 4
  margin: 0 $baseline $baseline 0
  overflow: hidden
  width: 280px

  background: #fff
  border: 1px solid #eee

  font-family: $ff-serif
  text-align: left

  &:nth-of-type(3n)
    margin-right: 0

  @media (max-width: $mobile)
    width: 260px
    
    &:nth-of-type(3n)
      margin-right: $baseline
    &:nth-of-type(2n)
      margin-right: 0

  //- header picture
  picture
    order: 1
    display: block
    margin: 0 (-$baseline)/4 0 (-$baseline)/4
    height: 150px

    img
      height: 100%
      width: 100%
      object-fit: cover

  //- title
  > h2
    order: 3
    font-size: $fs-1
    font-weight: 600

    a
      color: #000

      text-decoration: none

  //- description
  > p
    flex: 1
    order: 4
    
    color: #777 

    font-size: $fs--1    
    line-height: $baseline * 0.8    

//- Author + Periodicity
my-editions--item--author

  order: 2
  
  margin: $baseline/2 0
  
  img
    border-radius: 100%
    float: left
    height: $baseline
    margin-right: $baseline / 4
    width: $baseline

    object-fit: cover

  a
    color: #000

    text-decoration: none  
    

//- Subscribe Edition
my-editions--item--subscribe
  display: block
  padding: $baseline / 2 0 0 0
  order: 4

  text-align: center

  //- button
  button
    +subscribe-button

  //- info
  p
    font-size: $fs--2
    