//- POST DETAIL -//

post-detail
  position: relative

  display: block
  padding: $baseline
  
  background: #fff

  //- wrapper
  > div
    margin: 0 auto
    width: 700px


//- Back Button
post-detail--back-button
  position: sticky
  left: $baseline
  top: $baseline

  display: inline-block
  border-radius: 100%
  height: $baseline * 2
  width: $baseline * 2

  background: #eee

  cursor: pointer
  font-size: $fs-1
  line-height: $baseline * 2
  text-align: center

  &:focus,
  &:hover
    background: $c-base
    color: #fff

  &::before
    +fa-icon()

    content: $fa-var-arrow-left

//- Header
post-detail--header
  display: table
  margin-bottom: $baseline
  margin-top: -$baseline * 2
  width: 100%

  //- author picture
  > img
    border-radius: 100%
    float: left
    height: $baseline * 3
    margin-right: $baseline / 2
    width: $baseline * 3

  //- author name
  author-name
    display: inline-block
    margin-bottom: $baseline / 4

    font-weight: 600  

    &::after
      display: inline-block
      width: $baseline
      
      text-align: center

      content: '·'


  //- author follow
  author-follow  
    display: inline-block
    
    color: $c-base

    cursor: pointer
    font-size: $fs--2
    text-decoration: underline

    &:focus,
    &:hover
      text-decoration: none
    

  //- author description
  author-description
    display: block
    
    font-size: $fs--1
    line-height: $baseline * 0.75

//- Title
post-detail--title
  display: block
  margin-bottom: $baseline

  font-family: $ff-serif
  font-size: $fs-3
  font-weight: 600
  line-height: $baseline * 1.25


//- Continue Reading
post-detail--continue-reading
  position: relative

  display: block
  margin: $baseline*1.5 0

  color: #999

  font-family: $ff-serif
  font-size: $fs-1
  font-weight: 600
  text-align: center

  &::after,
  &::before
    position: absolute
    top: $baseline / 2

    height: 1px
    width: 30%

    background: #eee

    content: ''

  &::before   
    left: 0

  &::after
    right: 0   


//- Content
post-detail--content,
post-detail--perex
  display: block

  font-family: $ff-serif
  font-size: $fs-1
  line-height: $baseline * 1.25
    
  //- title
  h1
    margin-bottom: $baseline

    font-size: $fs-3
    font-weight: 600

  //- Headings
  h2,
  h3
    margin-bottom: $baseline
    
    font-weight: 600  

  //- Paragraph
  p
    margin-bottom: $baseline  

  //- Strong
  strong 
    font-weight: 600

  //- Italic
  em
    font-style: italic  

  //- Lists
  ul
    margin: 0 0 $baseline $baseline    

  //- Bullet points
  ul li
    list-style: disc

  //- Ordered list
  ol li
    list-style: decimal

  //- Image
  img
    max-width: 100%      

  //- Link
  a
    color: $c-base

    text-decoration: none 
       


    