//- HOMEPAGE -//

timeline-view 
  display: block
  padding: $baseline
  margin: 0 auto
  width: 900px


//- Welcome Edition
timeline-welcome
  display: block
  margin: $baseline*2 0 $baseline
  
  font-family: $ff-serif
  text-align: center

  h1
    margin-bottom: $baseline / 2

    font-size: $fs-3

  > p
    margin-bottom: $baseline  
  
timeline-welcome--my-editions
  display: flex
  flex-wrap: wrap

  my-editions--item
    flex: 1

timeline-welcome--more-editions a
  display: inline-block

  color: #000

  &:hover,
  &:focus
    text-decoration: none
  

//- Edition
timeline-edition
  display: block
  margin: $baseline*2 0 $baseline
  
  font-family: $ff-serif
  text-align: center

  h1
    margin-bottom: $baseline / 2

    font-size: $fs-3

  img
    border-radius: 100%
    height: $baseline
    width: $baseline

    object-fit: cover
    vertical-align: bottom

  p
    font-size: $fs-0

    color: #999


div:first-of-type timeline-edition
  margin-top: 0



//- Non Edition
timeline-non-edition
  display: block
  padding: $baseline 0
  margin: $baseline 0

  border-bottom: $baseline / 4 solid #ddd
  border-top: $baseline / 4 solid #ddd  