//- HOMEPAGE -//

timeline-view 
  display: block
  padding: $baseline
  margin: 0 auto
  width: 900px

  @media (max-width: $mobile)
    padding: $baseline 0
    width: $mobile


//- Welcome Edition
timeline-welcome
  display: block
  margin-bottom: $baseline
  
  font-family: $ff-serif
  

  > h1
    margin-bottom: $baseline / 2

    font-size: $fs-3
    text-align: center

  > p
    margin-bottom: $baseline  
    text-align: center
  
timeline-welcome--my-editions

  > h2
    margin-top: $baseline 

    font-weight: 600
    font-size: $fs-1
    text-align: left

  > div
    display: flex
    flex-wrap: wrap
    margin: 0 (-$baseline/4)

  my-editions--item
    flex: 1

timeline-welcome--more-editions
  display: block
  text-align: center

  //- View more editions link
  a
    display: inline-block

    color: #000

    &:hover,
    &:focus
      text-decoration: none

  //- Done button
  button
    display: inline-block
    border-radius: $baseline
    height: $baseline * 1.25
    padding: 0 $baseline
    margin-top: $baseline

    background: $c-base
    border: 0
    color: #fff
 
    font-family: $ff-sans
    font-size: $fs--1
    cursor: pointer

    &:hover,
    &:focus
      background: darken($c-base, 10%)




//- Edition
timeline-edition
  display: block
  margin: $baseline*2 0 $baseline

  &:first-of-type
    margin-top: 0
  
  > header
    margin-bottom: $baseline 

    font-family: $ff-serif
    text-align: center

    h1
      margin-bottom: $baseline / 2

      font-size: $fs-3

      img
        height: $baseline * 1.5
        width: $baseline * 1.5

        vertical-align: middle

      a
        color: #000

        text-decoration: none

    img
      border-radius: 100%
      height: $baseline
      width: $baseline

      object-fit: cover
      vertical-align: bottom

    p
      font-size: $fs-0

      color: #999

      a
        color: #999
        
        text-decoration: none 

  footer
    text-align: center

    button  
      display: table
      border-radius: $baseline
      height: $baseline * 1.25
      padding: 0 $baseline
      margin: 0 auto

      background: $c-base
      border: 0
      color: #fff
  
      font-family: $ff-sans
      font-size: $fs--1
      cursor: pointer

      &:hover,
      &:focus
        background: darken($c-base, 10%)   


//- Non Edition
timeline-non-edition
  display: block
  padding: $baseline 0
  margin: $baseline 0

  border-bottom: $baseline / 4 solid #ddd
  border-top: $baseline / 4 solid #ddd  