[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
django-cors-headers = "*"
libgravatar = "*"
pyjwt = "*"
nltk = "*"
"beautifulsoup4" = "*"
pillow = "*"
feedparser = "*"
lxml = "*"
requests = "*"
pyyaml = "*"
python-dateutil = "*"
cssselect = "*"
more-itertools = "*"
python-twitter = "*"
django-autocomplete-light = "*"
bleach = "*"

[requires]
python_version = "3.6"
