[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
mysqlclient = "*"
django-cors-headers = "*"
libgravatar = "*"
django-ckeditor = "*"
pyjwt = "*"
nltk = "*"
"beautifulsoup4" = "*"
pillow = "*"
feedparser = "*"
lxml = "*"
requests = "*"
pyyaml = "*"
dateutils = "*"
python-dateutil = "*"


[requires]

python_version = "3.6"
