[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
mysqlclient = "*"
django-cors-headers = "*"
libgravatar = "*"
django-ckeditor = "*"


[requires]

python_version = "3.6"
