//- Continue reading, watch video
=perex-button
  color: #999

  font-family: $ff-sans
  font-size: $fs--1
  text-align: center

  break-inside: avoid-column

  a[href]
    display: table
    border-radius: 15px
    clear: both
    margin: $baseline / 2 auto 0 auto
    padding: 0 $baseline / 4

    border: 1px solid transparent
    color: $c-base

    font-size: $fs--1
    line-height: 1.58
    text-transform: uppercase
    text-decoration: none

    &:focus,
    &:hover
      background: $c-base
      color: #fff