//- Continue reading, watch video
=scrollbar
  scrollbar-width: thin
  scrollbar-color: #ddd transparent

  &::-webkit-scrollbar
    width: 12px

  &::-webkit-scrollbar-track
    background: transparent

  &::-webkit-scrollbar-thumb
    background-color: #ddd
    border-radius: 20px
    border: 3px solid #ddd