dataclasses==0.7
Django==2.2.8
django-autocomplete-light==3.4.1
django-cors-headers==3.1.1
django-redis-cache==2.1.0
django_anymail==6.1.0
mysqlclient==1.4.4
libgravatar==0.2.3
PyJWT==1.7.1
beautifulsoup4==4.8.0
Pillow==6.2.0
feedparser==5.2.1
lxml==4.4.1
requests==2.22.0
oyaml==0.9
python-dateutil==2.8.0
cssselect==1.1.0
more-itertools==7.2.0
python-twitter==3.5
pytest==5.2.0
bleach==3.1.0
python-rapidjson==0.8.0
nltk==3.4.5
sqlparse==0.3.
sorl-thumbnail==12.5.0
