/* GENERAL */

html
  font-family: $ff-sans
  font-size: $fs-0

body
  position: relative

  font-family: $ff-sans
  font-size: $fs-0

  line-height: $baseline
  -webkit-text-size-adjust: 100%

div
  outline: 0

strong
  font-weight: 600

em
  font-style: italic

a
  text-decoration: none
