//- ARTICLE -//
timeline-post--article
  display: block
  margin-bottom: $baseline / 2  

  //- Title
  h2
    display: block
    margin-bottom: $baseline / 2 

    font-size: $fs-1
    font-weight: 600

  //- Picture
  img
    display: block
    margin-bottom: $baseline / 2
    width: 100% 