{% extends "articles/base.html" %}

{% block content %}
<timeline-view>
  <div v-for="edition in editionData.editions" :key="edition.id">
    <timeline-edition>
      <h1>{{edition.title}}</h1>

      <p>
        <timeline-edition--editor>
          <img v-if="edition.author.picture" :src="edition.author.picture" :alt="edition.author.name" />
          {{edition.author.name}}
        </timeline-edition--editor>
        •
        {{ edition.edition }}
        •
        {{edition.time}}
      </p>
    </timeline-edition>

    <component
      v-for="post in postsInEdition[edition.postsId]"
      :is="post.testType"
      :post="post"
      :key="post.id"
      v-on:readlater="readLaterMessage()">
    </component>

  </div>
</timeline-view>
{% endblock %}
