//- BUTTON -//


//- Subscribe Button
=subscribe-button
  border-radius: $baseline / 2
  box-sizing: border-box
  padding: 0 $baseline

  background: #fff
  border: 1px solid $c-base
  color: #000

  cursor: pointer
  font-family: $ff-sans
  font-size: $fs--1
  line-height: $baseline

  &:hover,
  &:focus
    background: $c-base
    color: #fff

  &.is-subscribed
    background: $c-base
    color: #fff

    &:hover,
    &:focus
      background: $c-red



//- Buttons with Icons
button-icon
  cursor: pointer

  &::before
    +fa-icon()

  &.recommend::before
    content: $fa-var-star

  &.share::before
    content: $fa-var-retweet

  &.consider-for-edition::before
    content: $fa-var-newspaper-o

  &.remove::before
    content: $fa-var-times
