//- BUTTON -//


//- Subscribe Button
=subscribe-button
  border-radius: $baseline / 2
  box-sizing: border-box
  padding: 0 $baseline
  
  background: #fff
  border: 1px solid $c-base

  cursor: pointer
  font-family: $ff-serif
  font-size: $fs-0
  line-height: $baseline

  &:hover,
  &:focus
    background: $c-base
    color: #fff 

  &.is-subscribed
    background: $c-base
    color: #fff 

    &:hover,
    &:focus
      background: $c-red  



//- Buttons with Icons
button-icon
  &::before
    +fa-icon()
  
  &.recommend::before
    content: $fa-var-star

  &.share::before
    content: $fa-var-retweet

  &.consider-for-edition::before
    content: $fa-var-newspaper-o    
