//- TWEET POST -//
timeline-post--tweet
  display: block
  margin-bottom: $baseline / 2

  font-family: $ff-serif
  font-size: $fs-1

  a 
    color: $c-base

    text-decoration: none
      