//- PICTURE -//
timeline-post--picture
  display: block

  //- Title
  h2
    display: block
    margin-bottom: $baseline / 2 

    font-size: $fs-1
    font-weight: 600

  //- Picture
  img
    display: block
    margin-bottom: $baseline / 2
    height: 450px
    width: 100% 
  
    object-fit: cover

  //- Figcaption
  figcaption
    display: block

    color: #999 

    font-size: $fs--1
    font-family: $ff-serif

