//- EDITIONS -//


editions-view
  display: grid
  grid-template-areas: "considered-posts upcoming-edition"
  grid-template-columns: 400px 900px
  grid-row: 500px
  grid-column-gap: $baseline
  justify-content: center
  height: calc(100vh - #{$baseline} *2)


//- List of Posts
editions-considered-posts
  grid-area: considered-posts
  padding: $baseline / 2

  background: #fff

  > h1
    margin-bottom: $baseline

    font-weight: 600



considered-post
  display: block
  padding-bottom: $baseline / 2
  margin-bottom: $baseline / 2

  border-bottom: 1px solid #eee
  cursor: move

//- Considered post header
considered-post--header

   //- profile picture
   img
     border-radius: 100%
     height: $baseline
     width: $baseline

     vertical-align: middle


//- Consider post footer
consider-post--footer
  display: block
  margin-top: $baseline / 2

  text-align: center

consider-post--footer--button
  display: inline-block
  display: none
  border-radius: $baseline / 2
  padding: 0 $baseline / 2

  border: 1px solid $c-base
  
  font-size: $fs--1
  color: $c-base

  cursor: pointer

  &:hover,
  &:focus
    background: $c-base
    color: #fff


//- Upcoming Edition
editions-upcoming-edition
  grid-area: upcoming-edition
  padding: $baseline / 2

  background: #fff


//-- Header  
editions-upcoming-edition--header
  display: flex
  margin-bottom: $baseline

  //--- heading
  > h1
    flex: 1

    font-weight: 600

  //--- publish button
  button-with-icon
    display: inline-block  
    border-radius: $baseline / 2
    padding: 0 $baseline / 2

    background: $c-base
    color: #fff

    cursor: pointer
    font-size: $fs--1

    &:hover,
    &:focus
      background: darken($c-base, 10%)
    

edition-upcoming-edition--post
  display: block
  margin-bottom: $baseline

  background: #e5e5e5

  &:nth-of-type(1)
    height: 300px
    width: 880px

  &:nth-of-type(2)
    height: 150px
    width: 600px

  &:nth-of-type(3)
    height: 150px
    width: 600px

  &:nth-of-type(4)
    height: 300px
    width: 880px

  &:nth-of-type(5)
    height: 150px
    width: 600px